<section>
  <h2>友情鏈接</h2>
  <div id= "friend_link">
  <ul>
	<li>
	  <h3>本社團的LINK，有愛自取</h3>
	  <a href="http://www.sprabbit.com"><img src="{{ root_url }}/images/sprabbit_link.jpg" alt="SPRABBIT" /></a>
	</li>
  
    <li>
	  <h3>火霧宗師的百度空間</h3>
	  <a href="http://hi.baidu.com/kenjones"><img src="{{ root_url }}/images/hikiri_link.png" alt="火霧宗師" /></a>
	</li>
	
	<li>
	  <h3>KenJ的P站</h3>
	  <a href="http://www.pixiv.net/member.php?id=597977"><img src="{{ root_url }}/images/kenj_link.gif" alt="KENJ" /></a>
	</li>
	
	<li>
	  <h3>TID</h3>
	  <a href="http://hi.baidu.com/tidsean"><img src="{{ root_url }}/images/tid_link.gif" alt="TID" /></a>
	</li>
  </ul>
  <p>鏈接交換請聯繫我們</p>
  </div>
</section>