#photo,#photo2,#photo3{
	padding: 0;
	width:400px;
	height:400px;	
	border: solid gray 1px;
	background-color: #111;
	margin: 0 auto 20px auto;
}

#photo img,#photo2 img,#photo3 img{
	border: 0;
}

#crop{
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border: solid gray 1px;
	background-color: white;
}

.image-crop-selection-box{
	border: 1px gray solid;
	background: url(about:blank);
}

.image-crop-selection-box2{
	border: 1px gray solid;
}

.image-crop-filter{
	background-color: black;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
	filter: Blur(Add="1",Direction="45",Strength="5");
}
