// Here you can easily change font faces which are used in your site.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works. your sites's.
// If you love to use Web Fonts, you also need to add some lines to source/_includes/custom/head.html

//$sans: "Optima", sans-serif;
$sans: 微软雅黑, "Optima", sans-serif;

//$serif: "Baskerville", serif;
$serif: 宋体, "Baskerville", serif;

//$mono: "Courier", monospace;
$mono: 微软雅黑, "Courier", monospace;

//$heading-font-family: "Verdana", sans-serif;
$heading-font-family: 微软雅黑, 黑体;

//$header-title-font-family: "Futura", sans-serif;
$header-title-font-family: 微软雅黑, 黑体;

//$header-subtitle-font-family: "Futura", sans-serif;
$header-subtitle-font-family: 微软雅黑, 黑体;