// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html{
	background: url("/images/gradient.png") black;
}

body{
	width: 1000px;
	font-size: 1em;
}

body > header{
	background: url("/images/header1.jpg") no-repeat scroll 0 0 #000;
	background-position: right;
	height: 292px;
	padding: 0;
}

body > header h2{
	font-size: 12px;
    padding: 90px 0 0 495px;
}

.entry-content{
	font-size: 14px;
}


.entry-content ul, ol {
    margin-left: 1.3em;
}

#uyan_frame img{
	border:0px;
}

#ujian-backtop{
	background: none;
	border: none;
}

#jiathis{
	width: inherit;
	text-align: right;
}

.sharing{
	overflow: auto;
	padding: 0 0 1em 0 !important;
}

.sharing .flash-video{
	display: none;
}

#google_translate_element{
	float: right;
}