// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body{
	width: 1000px;
}

body > header{
	background: url("/images/header1.jpg") no-repeat scroll 0 0 #000;
	background-position: right;
	height: 292px;
	padding: 0;
}

body > header h2{
	font-size: 12px;
    padding: 90px 0 0 495px;
}